@media (max-width: 810px) {

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-logo {
        padding-left: 1.5rem;
    }

    .cell-hero .content {
        flex-direction: column;
    }

    .cell-hero .image {
        width: 50%;
    }

    .cell-hero .image img {
        margin-top: -90px;
    }

    .small-container {
        display: block;
        margin-inline: 2rem;
    }

    .planning-left {
        width: 100%;
    }

    .planning-right {
        width: 100%;
        margin-inline: 0;
    }

    .container-partners {
        margin-inline: 2rem;
    }

    .benefits .container-card .card {
        width: calc(50% - 2rem);
    }

    .container-about-us {
        margin-inline: 2rem;
    }
}

@media (max-width: 500px) {
    .cells {
        display: block;
        margin-inline: 2rem;
    }

    .cell-hero {
        width: 100%;
        text-align: center;
    }

    .cell {
        width: 100%;
        margin-inline: 0;
    }

    .cell .image {
        display: flex;
        align-self: center;
    }

    .container-partners .img-card {
        flex-direction: column;
        align-items: center;
    }

    .container-partners .text-card {
        text-align: center;
    }

    .container-partners .text-card .name {
        text-align: center;
    }
}