@media (max-width: 950px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-logo {
        padding-left: 1.5rem;
    }

    .cell-hero .content {
        flex-direction: column;
    }

    .cell-hero .image {
        width: 50%;
    }

    .cell-hero .image img {
        margin-top: -90px;
    }
}

@media (max-width: 500px) {
    .cells {
    display: block;
    padding-inline: 1rem;
    }

    .cell-hero {
        width: 100%;
    }

    .cell {
        width: 100%;
    }
}