* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generel style  */

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* start nav  */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #0084FD;
    height: 100px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin-inline: auto;
    height: 100%;
}

.nav-logo a {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo a img {
    height: 60%;
}

.nav-links,
.hamburger {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links li,
.hamburger li {
    display: flex;
    list-style: none;
}

.nav-links a,
.hamburger a {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}

.nav-links li .btn-nav {
    padding: .6rem 1rem;
    border-radius: 1.8rem;
    background-color: white;
    color: black;
}

.hamburger {
    display: none;
    align-self: center;
    padding-right: 1.5rem;
}

.hamburger .fa-bars {
    font-size: 2rem;
}

@media (max-width: 950px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-logo {
        padding-left: 1.5rem;
    }

    .cell-hero .content {
        flex-direction: column;
    }

    .cell-hero .image {
        width: 50%;
    }

    .cell-hero .image img {
        margin-top: -90px;
    }
}

/* end nav  */

.header-container {
    max-width: 1150px;
    margin-inline: auto;
    margin-top: 150px;
    overflow: hidden;
}

.cells {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem -1rem;
}

.cell {
    width: calc(33.3333% - 1rem);
    margin: 0 .5rem 1rem;
    border-radius: 15px;
    background-color: #B5DDFF;
}

.cell-hero {
    width: calc(66.6666% - 1rem);
}

.cell-hero .content {
    display: flex;
}

.cell-hero .text {
    flex-basis: 60%;
    padding: 35px 20px 60px;
}

.cell-hero .image {
    flex-basis: 35%;
}

.cell-hero .image img {
    padding-top: 90px;
    padding-right: 20px;
    width: 100%;
}

.cell h2 {
    color: #0687FD;
}

.cell p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.3rem;
    color: #5B6F81;
}

.btn-blue {
    background-color: #0084FD;
    color: white;
    text-decoration: none;
    padding: .5rem 3rem;
    border-radius: 1.5rem;
    white-space: nowrap;
}

.big-icon {
    font-size: 4rem;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #0084FD;
}

.center {
    text-align: center;
}

.center p {
    padding-inline: 20px;
}

header {
    padding-bottom: 105px;
}

/* end header */
.container-violet {
    background-color: #9792E4;
}

.small-container {
    padding-top: 135px;
    padding-bottom: 135px;
    max-width: 890px;
    margin-inline: auto;
    display: flex;
    gap: 5%;
}

.planning-left {
    width: 50%;
    color: white;
}

.planning-left img {
    width: 80%;
    padding-bottom: 5rem;
}

.planning-left h3 {
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.planning-left p {
    line-height: 2rem;
    font-size: 1.3rem;
}

.planning-right {
    width: 40%;
    margin-top: 30%;
    padding-bottom: 2rem;
    text-align: center;
    border-radius: 20%;
    background-color: white;
}

.planning-right img {
    width: 80%;
    padding: 0 1.5rem 2rem;
}

.planning-right p {
    padding-top: 1.5rem;
    padding-inline: 3rem;
}

.fa-sm {
    margin-top: .5rem;
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
    background-color: #9792E4;
    border-radius: 60%;
}

/* start section partners */

.partners {
    max-width: 1150px;
    margin-inline: auto;
}

.up-title {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1.4rem;
}

.partners h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #9792E4;
    padding-bottom: 2rem;
}

.down-title {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.container-card {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    background-color: #9792E4;
}

.container-card .img-card {
    display: flex;    padding-left: 1.5rem;
}

.partners .img-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 300px;
    flex: 0 0 auto;
}

.text-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 2.5rem;
}